<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Bible Verses">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Versículos Bíblicos</title>
</head>
<body>
    <h1>Buscar Versículos Bíblicos</h1>
    <form action="/buscar" method="post">
        <label for="categoria">Selecciona una categoría:</label>
        <select name="categoria" id="categoria" required>
            {% for categoria in categorias %}
                <option value="{{ categoria }}" {% if categoria == categoria_seleccionada %}selected{% endif %}>{{ categoria }}</option>
            {% endfor %}
        </select>
        <button type="submit">Buscar</button>
    </form>

    {% if resultados %}
        <h2>Versículos sobre {{ categoria }}</h2>
        <ul>
            {% for versiculo in resultados %}
                <li><strong>{{ versiculo[0] }}:</strong> {{ versiculo[1] }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/static/service-worker.js')
            .then(() => console.log('Service Worker Registered!'))
            .catch(error => console.log('Service Worker registration failed:', error));
    }
    </script>

</body>
</html>
